[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybullet = "*"
numpy = "*"
matplotlib = "*"
gym = "*"
perlin-noise = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.7"
